* {
	padding: 0;
	margin: 0;
}
main {
	padding-left: 240px;
	padding-right: 240px;
	padding-top: 20px;
	padding-bottom: 110px;
}
h1 {
	color: #282828;
	font-family: arial;
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 140px
}
h2 {
	color: #282828;
	font-family: arial;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 15px;
}
h3 {
	color: #f2d13d;
	font-family: arial;
	font-size: 20px;
	margin-bottom: 120px;
}
h4 {
	color: #919191;
	font-family: arial;
	font-size: 16px;
	margin-top: 10px;
}
p {
	color: #919191;
	font-family: arial;
	font-size: 18px;
	margin-top: 10px;
}
ul {
	color: #919191;
	font-family: arial;
	font-size: 15px;
	margin-left: 40px;
}
header {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
	background-color: rgba(242, 209, 61, .15);
	color: black;
	height: 80px;
	padding: 20px;
}
footer {
	position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
	background-color: rgba(242, 209, 61, .15);
	text-align: center;
	height: 50px;
	padding: 10px;
	margin-top: 140px;
}
section {
	background-image: url(../images/tank-lawn.jpg);
	background-size: cover;
	background-position: center;
	height: 600px;
	text-align: center;
	margin-top: 120px
}
aside {
 	float: right;
 	margin-top: -18px;
 	margin-right: 20px;
}
nav a {
 	color: #282828;
 	font-weight: bold;
 	text-decoration: none;
 	padding-right: 20px;
}
a {
	color: #f2d13d;
 	font-weight: bold;
 	text-decoration: none;
}
hr {
	margin-top: 15px;
}
#slogan {
	color: #f2d13d;
	font-family: arial;
	font-size: 72px;
	text-transform: uppercase;
	padding-top: 200px;
	margin-bottom: -5px;
	font-style: italic;
}
#logo {
	height: 60px;
}
.anchor {
	display: block;
}
#shop {
	text-transform: capitalize;
	border: 1px solid #f2d13d;
	background-color: rgba(242, 209, 61, .15);
	width: 30px;
	height: 30px;
	padding: 16px;
}
